.chatInput {
    border-radius: 20px;
}

.chatInput > form {
    position: relative;
    display: flex;
    justify-content: center;
}

.chatInput > form > input {
    position: fixed;
    bottom: 0;
    width: 90%;
    border: none;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    outline: none;
    padding: 10px 20px;
    color: #fff;
    background: rgb(58, 58, 58);
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
}

.chatInput > form > input::placeholder {
    color: #ccc;
    text-align: center;
}

.chatInput > form > button {
    display: none !important;
}
