.chat {
    margin-top: 4rem;
    min-height: calc(100vh - 4rem);
    background: linear-gradient(to bottom, #793248, #282c34);
}

.chat__title {
    padding-top: 2rem;
    text-align: center;
    font-size: 4rem;
    color: #fff;
    margin-bottom: 4rem;
}

@media only screen and (max-width: 768px) {
    .chat__title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}
