.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    min-height: calc(100vh - 4rem);
    background: linear-gradient(to bottom, #793248, #282c34);
}

.profile__card {
    background: #f2f2f2;
    width: 94%;
    height: 90%;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 30px 0px;
    padding-right: 30px;
    margin: 30px;
}

.profile__card__left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__card__left > h2 {
    text-align: center;
    font-weight: 400;
    margin: 10px 0;
}

.profile__card__left > button {
    background: #aa4465;
    border-radius: 30px;
    border: none;
    padding-right: 15px;
    transition: all 0.3s ease;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: white;
    cursor: pointer;
}

.profile__card__left > input {
    display: none;
}

.profile__card__left > button:hover {
    background-color: #7e2f48;
}

.profile__card__picture {
    border-radius: 50%;
    object-fit: cover;
    width: 175px;
    height: 175px;
    border: 5px solid #aa4465;
    -webkit-box-shadow: 1px 1px 15px 2px #000000;
    box-shadow: 1px 1px 15px 2px #000000;
}

.MuiSvgIcon-root.edit-icon {
    font-size: 20px;
    margin-right: 1px;
}

.smooth-image {
    transition: opacity 1s;
}

.image-visible {
    opacity: 1;
}

.image-hidden {
    opacity: 0;
}

.smooth-preloader {
    position: absolute;
}

.smooth-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mountains {
    background: url("../../assets/images/mountains.jpg") center no-repeat;
    background-size: cover;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 5rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mountains h2 {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: -4px 5px 6px rgb(63, 63, 63);
    color: #fff;
}

.profile__cards {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1250px) {
    .profile__card {
        grid-template-columns: 1fr;
        padding-right: 0;
        height: auto;
    }

    .profile__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .mountains {
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .profile {
        min-height: calc(100vh - 4rem);
        height: auto;
    }

    .profile__card {
        margin: 2rem 0;
    }

    .mountains h2 {
        font-size: 3rem;
        letter-spacing: 5px;
    }

    .profile__cards {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 500px) {
    .mountains {
        margin-top: 2rem;
    }

    .mountains h2 {
        font-size: 2.5rem;
        letter-spacing: 2px;
    }
}
