.cards {
    padding: 1rem;
    background: #fff;
}

.cards > h1 {
    padding-top: 4rem;
}

.cards__title {
    text-align: center;
    font-size: 4rem;
}

.cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1024px) {
    .cards__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .cards__wrapper {
        grid-template-columns: 1fr;
    }

    .cards__title {
        font-size: 2rem;
    }
}
