.cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    margin-bottom: 24px;
}

.cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(170, 68, 101, 0.2);
    -webkit-filter: drop-shadow(0 6px 20px rgba(170, 68, 101, 0.2));
    filter: drop-shadow(0 6px 20px rgba(170, 68, 101, 0.2));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
}

.cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
}

.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
}

.cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc(100% - 60px);
    font-size: 1rem;
    color: #fff;
    background-color: #aa4465;
    box-sizing: border-box;
}

.cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.cards__item__img:hover {
    transform: scale(1.1);
}

.cards__item__info {
    padding: 20px;
}

.cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.MuiSvgIcon-root.favorite__icon,
.MuiSvgIcon-root.favorite__border__icon {
    font-size: 2rem;
}

.MuiSvgIcon-root.favorite__icon:active,
.MuiSvgIcon-root.favorite__border__icon:active,
.MuiSvgIcon-root.favorite__icon {
    color: #aa4465;
}

.cards__item__info > div {
    text-align: right;
}

@media only screen and (max-width: 1024px) {
    .cards__item {
        margin-bottom: 2rem;
    }
}
