.nav-menu {
    background-color: #662338;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all 0.5s ease;
    z-index: 3;
    opacity: 0;
}

.nav-menu.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
}

.nav-menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 16px 0;
}

.nav-menu-items button {
    background-color: #fff !important;
    font-weight: bold;
    padding: 10px 15px;
    margin-top: 50px;
    margin-left: 20px;
}

.close-icon {
    cursor: pointer;
}

.MuiSvgIcon-root.close-icon {
    font-size: 2.5rem;
}

.nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    height: 80px;
}

.nav-text a {
    color: #fff;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    border-radius: 10px;
    width: 100%;
}

.nav-text a span {
    margin-left: 1rem;
}

.nav-text .MuiSvgIcon-root {
    margin-left: 1rem;
    font-size: 2rem;
}

.navbar-toggle {
    position: absolute;
    top: 0;
    right: 0;
}
