.hero-text {
    width: 70%;
    text-align: center;
    padding: 4rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.hero-text .subtitle {
    font-family: "Great Vibes", cursive;
    font-size: 4rem;
    color: #aa4465;
}

.hero-text .title {
    font-size: 4rem;
    margin-top: 1rem;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-family: "Josefin Sans", Arial, sans-serif;
}

.hero-text .hero-paragraph {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
    color: #ececec;
    width: 80%;
    margin: 0 auto;
}

.hero-text a {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 1.2rem 2rem;
    font-size: 1.2rem;
}

.hero-buttons {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.hero-text .primary-btn {
    background: #aa4465;
    border: 1px solid #aa4465;
    color: #fff;
    margin-right: 1rem;
    transition: all 0.3s ease;
}

.hero-text .primary-btn:hover {
    background: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.hero-text .secondary-btn {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: #fff;
    transition: all 0.3s ease;
}

.hero-text .secondary-btn:hover {
    background: #aa4465;
    border: 1px solid #aa4465;
}

@media screen and (max-width: 768px) {
    .hero-text {
        width: 100%;
        padding: 2rem;
    }

    .hero-text .subtitle {
        font-size: 2.5rem;
    }

    .hero-text .title {
        font-size: 2rem;
    }

    .hero-text .hero-paragraph {
        font-size: 1rem;
        width: 100%;
    }

    .hero-buttons {
        margin-top: 2rem;
        flex-direction: column;
    }

    .hero-text .primary-btn {
        margin-right: 0;
    }
}
