.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #662338;
    color: white;
    z-index: 2;
}

.header__left {
    flex: 0.3;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header__search {
    flex: 0.4;
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: gray;
    border: 1px solid gray;
    border-radius: 20px;
}

.search-input {
    width: 200px;
    background-color: transparent;
    border: none;
    text-align: center;
    min-width: 35vw;
    outline-width: 0;
    color: #000;
    padding: 10px 0;
    font-size: 1.2rem;
}

.header__search {
    margin: 0 10px;
}

.header__search > input::placeholder {
    font-size: 1.2rem;
}

.header__right {
    flex: 0.3;
    display: flex;
    justify-content: flex-end;
}

.header__link {
    color: #fff;
    font-size: 1.2rem;
    padding-right: 2rem;
}

.header__link__last {
    padding-right: 5rem;
}

.header__navigation--items {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 30px;
}

.header__navigation--items li:last-child {
    margin-right: 10px;
}

.header__navigation--items li button {
    background-color: #fff !important;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-right: 20px;
}

.header__navigation--items a:hover {
    color: #ccc;
}

.MuiSvgIcon-root.hamburger-menu {
    display: none;
    font-size: 2.5rem;
}

.hamburger-menu {
    cursor: pointer;
    margin-right: 0.5rem;
}

.logout__icon {
    margin-right: 4px;
}

@media only screen and (max-width: 1024px) {
    .header__link,
    .header__navigation--items li button {
        display: none;
    }

    .MuiSvgIcon-root.hamburger-menu {
        display: block;
    }

    .header__right {
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 768px) {
    .header__left {
        margin-left: 5px;
    }

    .header__search > input {
        font-size: 1rem;
    }

    .header__search > input::placeholder {
        font-size: 1rem;
    }

    .header__right {
        justify-content: flex-end;
    }
}
