.chatOption {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  color: #fff;
  margin: 0 auto;
}

.chatOption:hover {
  opacity: 0.9;
}

.chatOption__icon--main {
  color: #fff !important;
  font-size: 2rem !important;
}

.addRoomOption {
  background: #aa4465;
  border-radius: 30px;
  padding-right: 15px;
  transition: all 0.3s ease;
  padding: 10px;
  margin-bottom: 10px;
}

.addRoomOption:hover {
  opacity: 1;
  background-color: #7e2f48;
}

.chatOption__room {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatOption__icon {
  display: flex;
  padding: 10px;
}

.chatOption > h3 {
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .chatOption > h3 {
    font-size: 1rem;
  }

  .chatOption__icon--main {
    font-size: 1.5rem !important;
  }
}
