.chatRoom {
    margin-top: 4rem;
    height: calc(100vh - 4rem);
    background: linear-gradient(to bottom, #793248, #282c34);
    overflow-y: scroll;
}

.chatRoom__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid #282c34;
}

.chatRoom__roomName > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-weight: 500;
}

.chatRoom__roomName > div > .MuiSvgIcon-root {
    margin-right: 10px;
}

.chatRoom__messages {
    margin-bottom: 15vh;
}

/* CHAT ROOM SCROLLBAR */
.chatRoom::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

.chatRoom::-webkit-scrollbar-track {
    background: #282c34;
}
