.login {
    height: 100vh;
    background: #f8f8f8;
    display: grid;
    place-items: center;
}

.login__container {
    padding: 100px 150px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.login__container > img {
    object-fit: contain;
    height: 200px;
    margin-bottom: 40px;
}

.login__container > button {
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .login__container {
        padding: 20px 50px;
    }

    .login__container > img {
        height: 100px;
    }
}
