.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.edit-modal-background {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-modal-wrapper {
    width: 600px;
    height: 400px;
    background-color: white;
    color: #333;
    border-radius: 10px;
    z-index: 10;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    position: relative;
}

.edit-modal-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.imageupload {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 130px;
    margin: 10px auto;
}

.imageupload__progress {
    width: 100%;
}

.upload-btn {
    background: rgb(0, 184, 70) !important;
    color: #fff !important;
    font-family: "Poppins", sans-serif !important;
    font-size: 1.2rem !important;
}

.upload-icon {
    margin-right: 5px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.2rem;
    color: white;
    background-color: #d3394c;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.inputfile + label:hover {
    background-color: #a12a38;
}

@media only screen and (max-width: 768px) {
    .imageupload {
        width: 60%;
    }
}
