.message {
    display: flex;
    align-items: center;
    padding: 20px;
}

.message > img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.message__info {
    padding: 0 10px;
    max-width: 500px;
}

.message__info > h4 {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.message__info > p {
    word-wrap: break-word;
}

.sent {
    flex-direction: row-reverse;
}

.sent .message__info > p {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

.received .message__info > p {
    background: #e5e5ea;
    color: black;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .message__info {
        max-width: 280px;
    }
}
